body, html {
    margin: 0;
    padding: 0;
    background-color: #D3C6C5;
}

body {
    display: flex;
    justify-content: center;
}

.timer {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
}

.end-time {
    z-index: 2;
    background-color: rgba(51, 44, 44, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    visibility: hidden;
}

.show {
    visibility: visible;
}

.ok-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: red;
    width: 150px;
    height: 80px;
}


.end-time-content {
    text-align: center;
    margin-top: 30vh;
    font-size: 30px;
}

.game-container {
    display: grid;
    height: calc(100vh - 40px);
    margin-top: 10px;
    padding: 10px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow-y: hidden;
    perspective: 600;
}

.container {
    width: 130px;
    height: 150px;
    position: relative;
    cursor: pointer;
 }
 
.container .front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: 
        repeating-linear-gradient(
        -45deg,
        #34b399,
        #34b399 5px,
        #8afae3 5px,
        #8afae3 10px
    );
    backface-visibility: hidden;
    border-radius: 6px;
    transform: perspective(600px) rotateY(0deg);
    transition: transform 0.55s linear
}
 
.container .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #bd1036;
    backface-visibility: hidden;
    border-radius: 6px;
    transform: perspective(600px) rotateY(180deg);
    transition: transform 0.55s linear
}
 
.flip .front {
    transform: perspective(600px) rotateY(-180deg)
}
 
.flip .back {
    transform: perspective(600px) rotateY(0deg)
}
 
.off {
    transition: 0.5s all linear;
    opacity: 0;
    visibility: hidden;
}